form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 200px;
}

form input,
form button {
  width: 100%;
  height: 30px;
}

.errorText {
  color: brown;
}

.hint {
  text-align: center;
  color: darkblue;
  line-height: 2rem;
  margin-top: 2rem;
}

.hint a {
  color: inherit;
}
