#products {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products ul {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
}
